<html>
<head>
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
</head>
<body>
    <div class="card">
        <div class="d-flex align-items-end row">
            <div class="col-sm-3">
                <div class="card-body pb-3 px-3 px-md-4" style="display:flex;justify-content:center;align-items:center;margin:auto;">
                    <img src="~/image/lis.jpg" style="border-radius: 50%;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" height="140" width="140" alt="View Badge User" />
                </div>
                
            </div>
            <div class="col-sm-9 text-right text-sm-left">
                <h5 class="card-title control-label text-primary"><b>SALIS ARYANI</b><br /> SENIOR SOFTWARE ENGINEER</h5>

                <div class="row">
                    <div class="col-sm-2 text-sm-left">
                        <p><i class='bx bxs-user-account'></i>Age<br />28 old</p>
                    </div>
                    <div class="col-sm-2">
                        <p><i class="bx bx-mobile"></i>Phone<br />081212650191</p>
                    </div>
                    <div class="col-sm-3">
                        <p><i class="bx bx-envelope"></i> Email<br />aryanisalis095@gmail.com</p>
                    </div>
                    <div class="col-sm-2">
                        <p><i class="bx bx-buildings"></i>Experience<br />6 years</p>
                    </div>
                    <div class="col-sm-3">
                        <p><i class='bx bxs-map'></i>Location<br />Jakarta</p>
                    </div>
                </div>
            </div>
        </div>

        <div class='col-md-12 row' style='margin-top:20px;padding-left:40px;padding-right:40px;'>
            <hr class='col-md-12'>
            @*<label class='col-md-3a control-label'><b>LOI Number</b></label>
            <label class='col-md-9 control-label'>: {1}</label>
            *@
            <div class="card col-sm-8 h-800">
                <label class="control-label" style="margin-top:8px;margin-bottom:5px;">
                    <strong>EXPERIENCE</strong></label>
                <hr>
                <label class="control-label">
                    <strong>2022 - 2024 <br />PT Kawan Lama Sejahtera<br />Full Stack Developer </strong>
                </label>
               
                <label class="control-label">
                    Developing Vendor Rybate Web System from scratch like master form, transaction, reporting, dashboard and many more.
                    I also responsible for fixing bug in system and make analaysing busines proses, and i also responsible for API checking tonsume in FE.
                    I enhance CRM Solutione API, this application are core web system application in kawan lama for make and tracking customer relationship management.
                    at this project i responsible for make many CRUD API, Adapter API for open availablelity to connect with others API, i also responsible for make background job and fixing bug.
                </label>

                <label class ="control-label"><strong>Tools :</strong><br />
                    NET 6, NET Core 3.1, C#, POSTGRE SQL, MS SQL, Mongo DB,Gitlab,Github, Open Api Swagger, Postman, Bootstrap, HTML, JQuery, Ajax,
                    Jenkins,Docker,IIS Server.
                </label>
                <br />
               
                <hr>
                <label class="control-label">
                    <strong>2021 - 2022 <br />PT Kairos Utama Indonesia<br />Full Stack Developer </strong>
                </label>

                <label class="control-label">
                    Developing Vendor Rybate Web System from scratch like master form, transaction, reporting, dashboard and many more.
                    I also responsible for fixing bug in system and make analaysing busines proses, and i also responsible for API checking tonsume in FE.
                    I enhance CRM Solutione API, this application are core web system application in kawan lama for make and tracking customer relationship management.
                    at this project i responsible for make many CRUD API, Adapter API for open availablelity to connect with others API, i also responsible for make background job and fixing bug.
                </label>
                <label class="control-label">
                    <strong>Tools :</strong><br />
                    NET 6, NET Core 3.1, C#, POSTGRE SQL, MS SQL, Mongo DB,Gitlab,Github, Open Api Swagger, Postman, Bootstrap, HTML, JQuery, Ajax,
                    Jenkins,Docker,IIS Server.
                </label>
                <br />

                <hr>
                <label class="control-label">
                    <strong>2019 - 2021 <br />PT Mitra Seribu Saudara (GRC Group)<br />Full Stack Developer </strong>
                </label>

                <label class="control-label">
                    Developing Vendor Rybate Web System from scratch like master form, transaction, reporting, dashboard and many more.
                    I also responsible for fixing bug in system and make analaysing busines proses, and i also responsible for API checking tonsume in FE.
                    I enhance CRM Solutione API, this application are core web system application in kawan lama for make and tracking customer relationship management.
                    at this project i responsible for make many CRUD API, Adapter API for open availablelity to connect with others API, i also responsible for make background job and fixing bug.
                </label>
                <label class="control-label">
                    <strong>Tools :</strong><br />
                    NET 6, NET Core 3.1, C#, POSTGRE SQL, MS SQL, Mongo DB,Gitlab,Github, Open Api Swagger, Postman, Bootstrap, HTML, JQuery, Ajax,
                    Jenkins,Docker,IIS Server.
                </label>
            </div>

            <div class="card col-sm-4 h-800">
                <label class="control-label" style="margin-top:8px;margin-bottom:5px;">
                    <strong>SKILLS</strong>
                </label>
                <hr>
                <label class="control-label" style="margin-top:5px;margin-bottom:5px;">
                    <strong>Hard Skill :</strong>
                </label>
                <label class="control-label">
                    <strong><i class='bx bx-check-circle'></i>&nbsp;.NET 6 / NET Core <br />
                        <i class='bx bx-check-circle'></i>&nbsp;C# <br />
                        <i class='bx bx-check-circle'></i>&nbsp;JAVA<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Javascript Native<br />
                        <i class='bx bx-check-circle'></i>&nbsp;JQuery<br />
                        <i class='bx bx-check-circle'></i>&nbsp;AJAX<br />
                        <i class='bx bx-check-circle'></i>&nbsp;HTML<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Bootstrap<br />
                        <i class='bx bx-check-circle'></i>&nbsp;MS SQL<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Postgre SQL<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Mongo DB<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Open API Swagger<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Postman<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Jenkins<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Docker<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Github,Gitlab,Bitbucket,TFS<br />
                        <i class='bx bx-check-circle'></i>&nbsp;UWP<br />
                        <i class='bx bx-check-circle'></i>&nbsp;MVC<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Microservices<br />
                    </strong>
                </label>
                <hr>
                <label class="control-label" style="margin-top:5px;margin-bottom:5px;">
                    <strong>Soft Skill :</strong>
                </label>
                <label class="control-label">
                        <i class='bx bx-check-circle'></i>&nbsp;Creative <br />
                        <i class='bx bx-check-circle'></i>&nbsp;Independent <br />
                        <i class='bx bx-check-circle'></i>&nbsp;Dicipline<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Documentation<br />
                        <i class='bx bx-check-circle'></i>&nbsp;Good Collaboration<br />
                        
                </label>

                <br /><br />
                <hr>
                <label class="control-label" style="margin-top:8px;margin-bottom:5px;">
                    <strong>EDUCATION</strong>
                </label>
                <label class="control-label">
                    <strong>
                        <i class='bx bxs-graduation'></i>&nbsp;Mercubuana University <br />
                        &nbsp;&nbsp;&nbsp; Graduate on 2018 <br />&nbsp;&nbsp; &nbsp;S1 Of Computer Engineering 
                        <br />&nbsp;&nbsp;&nbsp; 3.71
                        
                    </strong>
                </label>
            </div>
        </div>
        
    </div>
</body>
</html>